{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>QUEERING THE MAP</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="Queering the Map is a community-generated mapping project that geo-locates queer moments, memories and histories in relation to physical space.">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.queeringthemap.com/">
  <meta property="og:title" content="Queering The Map">
  <meta property="og:image" content="{% static 'images/shareimage.jpg' %}" />
  <meta property="og:description" content="Queering the Map is a community-generated mapping project that geo-locates queer moments, memories and histories in relation to physical space.">
  <meta property="og:site_name" content="Queering The Map">
  <meta property="og:locale" content="en_US">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" />

  {% load sass_tags %}

  <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css" />

</head>

<body>
  <div id="map"></div>

  <nav id="aboutNav" class="overlay left hidden">
    <a class="closebtn left" id="leftnavclose">×</a>
    <div class="overlay-content">
      <p><i>Queering the Map</i> is a community-generated mapping project that geo-locates queer moments, memories and histories in relation to physical space. As queer life becomes increasingly less centered around specific neighborhoods and the buildings within them, notions of ‘queer spaces’ become more abstract and less tied to concrete geographical locations. The intent of the <i>Queering the Map</i> project is to collectively document the spaces that hold queer memory, from park benches to parking garages, to mark moments of queerness wherever they occur.</p>

      <p>There are no guidelines to what constitutes an act of queering space. If it counts to you, then it counts for <i>Queering the Map</i>. Anything from direct action activism to a conversation expressing preferred pronouns, from flirtatious glances to weekend long sex parties; all are part of the project of queering space. Queer history matters, and elders of the community are encouraged to add moments and places of historical significance to the map that enrich our collective memory.</p>
      <p>Through mapping these ephemeral moments, <i>Queering the Map</i> aims to create a living archive of queer experience that reveals the ways in which we are intimately connected.</p>

      <h1><b>Territorial Acknowledgment</b></h1>
      <p><i>Queering the Map</i> acknowledges that this project was started on the traditional territory of the Kanien’kehá:ka. The Kanien’kehá:ka are the keepers of the Eastern Door of the Haudenosaunee Confederacy. The island called “Montreal” is known as Tiotia:ke in the language of the Kanien’kehá:ka, and it has historically been a meeting place for other Indigenous nations, including the Algonquin peoples.</p>
      <p>To find out on which Indigenous peoples' land you are located, please visit: <a href="https://native-land.ca/" target="_blank">www.native-land.ca</a>. Beyond simply acknowledging the colonial histories of the land on which you are located, we encourage you to take concrete steps towards decolonization by learning more about the ways in which you can support local Indigenous groups. If you are located in Canada/Turtle Island, a good place to start is <a href="http://reconciliationcanada.ca/" target="_blank">www.reconciliationcanada.ca</a>.</p>
      
      <h1><b>Moderation</b></h1>
      <p>Posts to <i>Queering the Map</i> are moderated to ensure that no spam or hateful content is added to the site. If you see anything you feel should be removed, or would like something you posted to be deleted, please contact us!</p>

      <h1><b>Contact</b></h1>
      <p>Get in touch at <a href="mailto: hi.queeringthemap@gmail.com">hi.queeringthemap@gmail.com</a></p>

      <div class="social-icons">
        <a href="https://www.facebook.com/queeringthemap/" target="_blank">
          <img src="{% static 'images/social/fb.png' %}" />
        </a>
        <a href="https://www.instagram.com/queeringthemap/" target="_blank">
          <img src="{% static 'images/social/insta.png' %}" />
        </a>
      </div>

    </div>
  </nav>

  <nav id="addNav" class="overlay right hidden">
    <a href="javascript:void(0)" class="closebtn right" id="rightnavclose">×</a>
    <div class="overlay-content">
      <ol>
        <li>Find the location of your queer moment on the map</li>
        <li>Click on it!</li>
        <li>Add a description of your moment to the text box </li>
        <li>Click the 'ADD' button </li>
      </ol>
      <br>
      <textarea id="txt_contents" class="subform"></textarea>
      <button id="addbutton" class="button g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback="saveMoment" data-badge="inline">ADD</button>
    </div>
  </nav>

  <span id="about" onclick="toggleNav()"><span>about</span><img src="{% static 'images/icons/about.svg' %}" alt="add" height="50" width="50"></span>
  <span id="add" onclick="toggleRightNav()"><img src="{% static 'images/icons/add.svg' %}" alt="add" height="50" width="50"></span>
  <div id="logo"><img src="{% static 'images/logo.svg' %}" alt="logo"></div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

  <script type="text/javascript" src="{% static 'js/navigation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/init.js' %}"></script>

  <script asynch defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&v=3&callback=init"></script>
  <script async defer src='https://www.google.com/recaptcha/api.js'></script>
  
  <!-- To trigger CSRF protection -->
  {% csrf_token %}
</body>
</html>
