@charset "UTF-8";
/* CSS Document */

// variables
$color-dark: #1a1a1a;

@font-face {
  font-family: 'hk_groteskbold';
  src: url('../fonts/hkgrotesk-bold-webfont.eot');
  src: url('../fonts/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
       url('../fonts/hkgrotesk-bold-webfont.woff') format('woff'),
       url('../fonts/hkgrotesk-bold-webfont.ttf') format('truetype'),
       url('../fonts/hkgrotesk-bold-webfont.svg#hk_groteskbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskmedium';
  src: url('../fonts/hkgrotesk-medium-webfont.eot');
  src: url('../fonts/hkgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
       url('../fonts/hkgrotesk-medium-webfont.woff') format('woff'),
       url('../fonts/hkgrotesk-medium-webfont.ttf') format('truetype'),
       url('../fonts/hkgrotesk-medium-webfont.svg#hk_groteskmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'webfontregular';
  src: url('../fonts/hkgrotesk-regular-web-webfont.eot');
  src: url('../fonts/hkgrotesk-regular-web-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hkgrotesk-regular-web-webfont.woff2') format('woff2'),
       url('../fonts/hkgrotesk-regular-web-webfont.woff') format('woff'),
       url('../fonts/hkgrotesk-regular-web-webfont.ttf') format('truetype'),
       url('../fonts/hkgrotesk-regular-web-webfont.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden scroll;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

#logo {
  display: inline-block;
  position:absolute;
  text-align:center;
  top: 1.5em;
  width:100%;
  margin:0 auto;
  pointer-events:none;
  z-index:100;

  img {
    width: 200px;
  }
}

#map{
  height: 100%;
}

/* ===== OVERLAY MENU INFO ===== */
#about, #add {
  top: .25em;
  font-size: 2.4em;
  cursor: pointer;
  position: fixed;
  z-index: 9;
  color: black;
  font-family: 'hk_groteskbold';
}

#about {
  left: .25em;
  
  > span {
    display: none;
  }
}

#add {
  right: .25em;
}

.button {
  margin-top:10px;
  border:1px solid #CCC;
  background:#DDD;
  color: #000;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  padding: 5px 20px;
  width: 13ch;
  text-align: center;
  font-family:'hk_groteskmedium';
  font-size: 15px;
  color: $color-dark;

  &:hover{
    color:#FF00C1;
  }
}

.grecaptcha-badge {
  margin: auto;
}

.overlay {
  font-size: 1.3em;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  top: 0;
  background-image: url(../images/grid_light.png);
  overflow-x: hidden;
  transition: 0.5s;

  &.left {
    left: 0;

    .overlay-content {
      margin: 8em 0 1em 0;
    }

  }

  &.right {
    top: 40%;
    right: 0;

    .overlay-content {
      margin: 1em 0;
      height: 125%;
    }

    ol {
      text-align: left;
      font-family:'webfontregular';

      li:not(:first-child) {
        margin-top: .5em;
      }
    }

    .subform {
      margin:auto;
      text-align: left;
      padding-left:0;
      padding-top:0;
      padding-bottom:0.4em;
      padding-right: 0.4em;
      width:100%;
      height:8em;
      font-family:'webfontregular';
      font-size: 12pt;
      background-color:#F0CBDD;
      border: 2px solid #F8B1CF;
    }
  }

  &.left.hidden,
  &.right.hidden {
    width: 0%;

    .closebtn {
      display: none;
    }
  }

  .overlay-content {
    position: relative;
    text-align: center;
    height: 100%;
    padding:0 2em;
    color: $color-dark;
  }

  p {
    text-decoration: none;
    font-family:'webfontregular';
    color: $color-dark;
    display: block;
    font-weight:normal;
    text-align:left;
    margin: 1.5em 0 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    margin-top: 2em;
    text-decoration: none;
    font-family:'webfontregular';
    font-size: 18px;
    color: $color-dark;
    display: block;
    transition: 0.3s;
    font-weight:normal;
    text-align:center;
  }

  a { 
    text-decoration: none;
    font-family:'webfontregular';
    font-size: 18px;
    color: $color-dark;
    display: inline;
    transition: 0.3s;
    font-weight:normal;
    text-align:left;

    &:not(.closebtn) {
      &:hover,
      &:focus {
        color: #0000ff;
      }
    }

    &.current {
      color:$color-dark;
      font-style:italic;
    }
  }

  .closebtn {
    position: fixed;
    font-size: 40px !important;
    line-height:0px;
    color: black;
    z-index: 10000;

    &:hover {
      cursor: pointer;
    }

    &.left {
      top: .5em;
      right: .25em;
    }

    &.right {
      top: 43%;
      left: .25em;
      right: auto;
    }
  }
}

// notification start

.noty_bar {
  font-family: 'webfontregular';

  background-color: rgba($color-dark,.95) !important;
  color: #fff !important;

  .noty_progressbar {
    background-color: #fff !important;
    opacity: 0.7 !important;
  }
}
// notification end

// social icons

.social-icons {
  margin: 2em 0 4em 0;
  display: flex;
  justify-content: space-around;

  > a > img {
    width: 3em;
    height: 3em;
  }
}

@media all and (min-width: 800px) {

  #logo {
    img {
      width: 300px;
    }
  }

  #about, #add {
    top: .5em;
  }

  #about {
    left: .5em;

    > img {
      display: none;
    }

    > span {
      display: initial;
    }
  }

  #add {
    right: .5em;
  }

  .overlay {

    &.left {
      width: 40%;

      .closebtn.left {
        left: .25em;
        right: initial;
      }
    }

    &.right {
      top: 0;
      width: 40%;

      .closebtn.right {
        top: .5em;
        right: .25em;
        left: initial;
      }

      .overlay-content {
        margin: 8em 0 1em 0;
        height: 100%;
      }
    }
  }
}

@media all and (max-height: 450px) {
  .overlay a {font-size: 20px;}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}